<div>
  <%= image_tag @user.avater_image.variant(resize: "120x120^", gravity: "center", crop: "120x120+0+0").processed, style: "border-radius: 50%;" %>
</div>
<div>
  <%= link_to "編集", edit_user_path %>
</div>