<div class="container" style="margin-left:100px;">
  <div>
    <%= link_to "投稿", new_post_path %>
  </div>
  <div class="row d-flex justify-content-between" style="width:100%;">
  <% @posts.each do |post| %>
    <div class="row d-flex" style="width:100%;">
      <div style="background-color:blue; margin-right:20px; margin-bottom:20px;">
      <%= image_tag post.user.avater_image.variant(resize: "65x65^", gravity: "center", crop: "65x65+0+0").processed, style: "border-radius: 50%;" %>
      </div>
      <div style="width:60%; background-color:red; margin-bottom:20px;">
        <%= post.posted_text %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%# 投稿したアカウントを表示するようにする
postから情報を持ってくればうまくいくはず %>
